doctype html
html(lang='en')
    head
        link(rel='stylesheet' href='./main.css')
        meta(charset='UTF-8')
        title Title
    body
        header
        h1 Hello
        script(src='./main.js')
